<h2 class="title mat-title">{{timeSlot.name}}</h2>
<div>
  <p class="description mat-body-1" *ngIf="timeSlot.description">{{timeSlot.description}}</p>
  <p class="presenter mat-body-1" *ngIf="presenters">{{presenters}}</p>
  <p class="details">
    <span class="event-detail hours" *ngIf="timeSlot.startTime && timeSlot.endTime">
      <mat-icon>alarm</mat-icon>
      <span class="icon-label">{{timeSlot.startTime}} - {{timeSlot.endTime}}</span>
    </span>
    <span class="event-detail room" *ngIf="timeSlot.room">
      <mat-icon>home</mat-icon>
      <span class="icon-label">{{timeSlot.room}}</span>
    </span>
    <span class ="event-detail" *ngIf="timeSlot.room" (click)="commentClick()">
      <mat-icon>speaker_notes</mat-icon>
      <span class="icon-label">{{this.timeSlot.feedback.length}} Comment(s)</span>
    </span>
  </p>
  <span [hidden] = isHidden>
    <ea-makecomment>

    </ea-makecomment>
    <li *ngFor="let feedback of this.timeSlot.feedback">
      <br> Feedbackid : {{feedback.id}}
      <br> Eventid: {{feedback.eventid}}
      <br> Eventname: {{ feedback.eventname }}
      <br> Comment: {{feedback.comment}}
      <br> Created: {{feedback.createdAt}}
      <br> Updated: {{feedback.updatedAt}}
      <br> Userid: {{feedback.userId}}
      <br> rating: {{feedback.rating}}
      <star-rating-comp [starType]="'icon'" [staticColor]="'ok'" [size]="'big'" [readOnly]="'true'" rating="{{ feedback.rating }}"></star-rating-comp>

    
    </li>

  </span>
</div>
