<h2 class="title mat-title">{{timeSlot.name}}</h2>
<div>
  <p class="description mat-body-1" *ngIf="timeSlot.description">{{timeSlot.description}}</p>
  <p class="presenter mat-body-1" *ngIf="presenters">{{presenters}}</p>
  <p class="details">
    <span class="event-detail hours" *ngIf="timeSlot.startTime && timeSlot.endTime">
      <mat-icon>alarm</mat-icon>
      <span class="icon-label">{{timeSlot.startTime}} - {{timeSlot.endTime}}</span>
    </span>
    <span class="event-detail room" *ngIf="timeSlot.room">
      <mat-icon>home</mat-icon>
      <span class="icon-label">{{timeSlot.room}}</span>
    </span>
    <span class ="event-detail" *ngIf="timeSlot.room" (click)="commentClick()">
      <mat-icon>speaker_notes</mat-icon>
      <span class="icon-label">{{this.timeSlot.feedback.length}} Comment(s)</span>
    </span>
  </p>
  <span [hidden] = isHidden>
    <ea-makecomment [timeSlotFeedback] = this.timeSlot.feedback>

    </ea-makecomment>
    <li *ngFor="let feedback of this.timeSlot.feedback">
      <div *ngIf = "user.id == feedback.userId; else normalDisplay">  
        <h1> Edit your Feedback</h1>
          <star-rating-comp [starType]="'svg'" (onRatingChange)="updateOwnRating($event,feedback)" [labelPosition]="'top'" [labelVisible]="true" [labelText]="'Rating'" rating="{{ feedback.rating }}" [staticColor]="'ok'" [size]="'large'" ></star-rating-comp>
          <input type ="text" [(ngModel)] = "feedback.comment" (focusout) ="updateOwnComment(feedback)" >
          <input type ="submit" (click)="update(feedback)">


      </div>
      <ng-template #normalDisplay>
      <br> Feedbackid : {{feedback.id}}
      <br> Eventid: {{feedback.eventid}}
      <br> Eventname: {{ feedback.eventname }}
      <br> Comment: {{feedback.comment}}
      <br> Created: {{feedback.createdAt}}
      <br> Updated: {{feedback.updatedAt}}
      <br> Userid: {{feedback.userId}}
      <br> rating: {{feedback.rating}}
      <star-rating-comp [starType]="'svg'" [staticColor]="'ok'" [size]="'large'" [readOnly]="'true'"  rating="{{ feedback.rating }}"></star-rating-comp>
    </ng-template>  
    
    </li>

  </span>
</div>
